# for Google App Script
CLIENT_ID="asdfghjklqwertyuiopnbvcx"
CLIENT_SECRET="1234567890asdfghjklzxcvbnm,wertyuio"

# for node.js script
SPREADSHEET_ID="1234567890qwertyuiopasdfghjkl"
API_KEY="khgfdsapoiuytrew,mnbvcxz"
ENDPOINT="https://endpoint.sh/hogehoge"
ENTRY_POINT="getRaceDetail"

# for shell script
PROJECT_ID="my-project"
SA_EMAIL="service-account@my-project.iam.gserviceaccount.com"